<header id="header">
    <div class="container h-100">
            <div class="d-flex justify-content-between h-100">

                <a href="/" class="align-self-center logo">
                   <span>MikePenski</span>
                </a>

                 <div class="align-self-center">

                     <div id="overlay" class="overlay align-self-center">

                         <nav id="mainnav">
                             <ul id="mainmenu" class="menu">
                                 <li class="menu-item">
                                     <a href="/">Start</a>
                                 </li>
                                 <li class="menu-item">
                                     <a href="about">About</a>
                                 </li>
                                 <li class="menu-item">
                                     <a href="work">Work</a>
                                 </li>
                                 <li class="menu-item">
                                     <a href="kontakt">Kontakt</a>
                                 </li>
                             </ul>
                         </nav>

                     </div>

                     <div class="button_container d-lg-none" id="toggle" data-toggle="collapse" data-target="#menu-main-navigation" aria-expanded="false">
                         <span class="top"></span>
                         <span class="middle"></span>
                         <span class="bottom"></span>
                     </div>

            </div>
        </div>
    </div>
</header>

