{% extends "base.html" %}

{% block content %}

<section id="header-slider">

    <div class="slider">

        <article class="slide">

            <div class="container h-100">

                <div class="row h-100">

                    <div class="col-lg-8 align-self-center mx-auto text-left content">

                        <h1 class="headline">About</h1>

                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr,<br>
                            sed diam nonumy eirmod tempor invidunt ut labore et dolore
                        </p>

                    </div>

                </div>

            </div>

            <img src="{{ url_for('static', filename='images/header-about.jpg') }}" />

        </article>

    </div>

    <div class="slider-shape-divider">
        <svg height="150" preserveAspectRatio="none" viewBox="0 0 1450 160" width="1450" xmlns="http://www.w3.org/2000/svg" class="reflect"><path d="M0 160V0c552.762 0 829.144 157.977 1450 157.977V160z" fill="#fff" /></svg>
    </div>

</section>

<section id="about" class="py-5 py-lg-7">
    <div class="container">
        <div class="text-center">
            <h2 class="headline">About</h2>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>
</section>

{% endblock content %}
